<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Find Restaurant Near Me</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
                <li class="nav-item">
                    <a routerLink="">Search</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/addRestaurant">AddRes</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 
<div class="container mt-3">
    <div id="status">{{ status }}</div>
</div>

<!-- Form -->
<div class="container mt-3">
    <form (ngSubmit)="insert()">
        <div class="form-group">
            <label for="restaurantName">Restaurant Name:</label>
            <input type="text" class="form-control" id="restaurantName" name="restaurantName" [(ngModel)]="restaurant.restaurantName">
        </div>
        
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location" [(ngModel)]="restaurant.location">
        </div>
        
        <div class="form-group">
            <label for="area">Area:</label>
            <input type="text" class="form-control" id="area" name="area" [(ngModel)]="restaurant.area">
        </div>
        
        <div class="form-group">
            <label for="distanceFromArea">Distance From Area(km):</label>
            <input type="number" class="form-control" id="distanceFromArea" name="distanceFromArea" [(ngModel)]="restaurant.distanceFromArea">
        </div>
        
        <div class="form-group">
            <label for="phNo">Mobile No:</label>
            <input type="number" class="form-control" id="phNo" name="phNo" [(ngModel)]="restaurant.phNo">
        </div>
        
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>